# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines, newline ending, tab indent
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

# We want these file indented by 2 spaces
[**.{yaml, yml, json}]
indent_style = space
indent_size=2
